@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

:root{
    /* Paleta de cores */
    --cor-primaria: #db2886;
    --cor-secundaria: #707070;
    --cor-terciaria: #b7b7b7;
    --cor-avaliações-stars: #f2c832;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: -3px 2px 5px lightgrey;
    top: 0;
    z-index: 20;
    background-color: #fff;
}

header img{
    width: 5rem;
}

header input{
    width: 20rem;
    padding: 0.5rem;
    outline: none;
    font-size: 1rem;
    caret-color: var(--cor-primaria);
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    margin-right: 1rem;
    color: #000;
}

li a::after{
    content: '';
    width: 0;
    position: absolute;
    left: 0;
    top: 1.5rem;
    border-bottom: 2px solid var(--cor-primaria);
    transition: width 0.4s;
}

li a:hover::after{
    width: 100%;
}

li a:hover{
    color: var(--cor-primaria);
}

.icon-search{
    position: relative;
    left: 27rem;
}

.icon-menu{
    display: none;
    font-size: 2rem;
    color: var(--cor-primaria);
}

.icon-notification-shopping-cart{
    padding: 5px;
    line-height: inherit;
    clip-path: circle();
    background-color: var(--cor-primaria);
    position: relative;
    bottom: 0.75rem;
    left: 2.9rem;
    color: #fff;
    font-weight: bold;
}

.icon-car,.icon-person,.icon-cart-arrow-down{
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 1rem;
}

.icon-cart-arrow-down{
    font-size: xx-large;
    margin: 1rem 0;
}

.background-modal-car,.background-modal-account{
    display: none;
    position: fixed;
    top: 6rem;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: 1.5s;
}

.modal-car,.modal-account{
    width: 15rem;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
    left: 63rem;
    margin-top: 0.5rem;
}

.modal-car article button:active,.modal-account article button:active{
    opacity: 0.7;
}

.modal-account article a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.modal-account article a:hover{
    color: var(--cor-primaria);
    text-decoration: underline;
    transition: 0.5s ease-in-out;
}

.modal-car .icon-close,.modal-account .icon-close{
    position: relative;
    left: 12rem;
    margin: 0.2rem 0 1rem;
    cursor: pointer;
    opacity: 0.7;
}

.modal-car .icon-close:hover,.modal-account .icon-close:hover{
    opacity: 1;
}

.modal-car article,.modal-account article{
    text-align: center;
}

.modal-car button{
    margin: 1rem 0;
}

main{
    margin-top: 10rem;
}

section figure{
    display: grid;
    justify-content: center;
}

.section-controller{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-text-controller{
    margin-left: 2rem;
}

.container-text-controller::before{
    content: "";
    background: linear-gradient(to right, #db2886, #af3fb4);
    width: 0.625rem;
    height: 20%;
    position: absolute;
    left: 0.6rem;
}

.container-text-controller h1{
    font-size: 2rem;
}

.container-text-controller h3{
    font-size: 1.875rem;
    color: var(--cor-secundaria);
    font-weight: 100;
    margin: 1.25rem 0;
}

.container-text-controller p{
    font-size: 1rem;
    color: var(--cor-terciaria);
    font-weight: 100;
}

.container-text-controller h4{
    margin: 1rem 0;
}

.container-text-controller button,.section-information-movies .info-movie button,.modal-car button,.modal-account button{
    width: 10rem;
    padding: 0.75rem 0.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    background: linear-gradient(to right, #db2886, #af3fb4);
    transition: all 0.5s ease-in-out;
}

.container-text-controller button:hover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11rem;
    opacity: 0.9;
}

.container-text-controller button img{
    display: none;
    width: 2.3rem;
}

.container-text-controller button:hover img{
    display: block;
}

.container-img-controller{
    position: relative;
    margin-right: 2rem;
}

.container-img-controller img{
    width: 25rem;
    animation: moveController 2s infinite alternate ease-in-out;
}

@keyframes moveController{
    from{
        transform: translate(-5%, -5%) rotate(-5deg);
    }

    to{
        transform: translate(0, 5px);
    }
}

.fundo-controller{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: linear-gradient(to right, #db2886, #af3fb4);
    border-radius: 1rem 0 0 1rem;
    z-index: -1;
    transform: translateX(2rem);
}

/* Botão de adicionar ao carrinho */
.container-img-controller button{
    border: none;
    background-color: transparent;
}

.container-img-controller button img {
    position: absolute;
    top: 7rem;
    right: -1.7rem;
    width: 2rem;
    cursor: pointer;
    z-index: 2;
}

.section-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border-bottom: 2px solid var(--cor-terciaria);
}

.items-produtos{
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem 2rem;
    border-right: 2px solid var(--cor-terciaria);
}

.items-produtos img{
    width: 10rem;
}

.section-information-movies{
    display: flex;
    margin: 5% 0;
    justify-content: center;
    align-items: center;
}

.section-information-movies div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-movies iframe{
    width: 39rem;
    margin: 0 2rem;
}

.movie-img{
    display: flex;
    align-items: flex-start;
}

.movie-img img{
    width: 15rem;
}

.section-information-movies .info-movie{
    display: block;
    flex-direction: column;
    margin: 1rem 2rem;
    font-weight: 800;
}

.info-movie h4{
    margin: 1rem 0;
    color: var(--cor-terciaria);
}

.info-movie button{
    margin: 1rem 0;
}

.section-buy-products{
    display: grid;
    justify-content: center;
}

.section-buy-products h3,.section-info-games h3{
    margin: 2rem 2.5rem;
    font-size: x-large;
}

.section-info-games p{
    margin: 0 2.5rem;
}

.section-buy-products .cards figure img,.filmes-lançamentos{
    width: 15rem;
}

.section-buy-products .cards{
    display: flex;
    margin-left: 2rem;
}

.section-info-games{
    display: grid;
    margin: 0 2rem;
}

.section-info-games .cards{
    display: flex;
    margin: 2rem 0;
}

.section-buy-products .cards picture{
    display: grid;
    justify-content: center;
    margin: 0 0.5rem;
    padding: 1rem;
    box-shadow: -1px 1px 11px 1px #ddd;
}

.section-info-games .cards figure{
    height: 10rem;
}


.section-buy-products .cards picture h4{
    font-weight: normal;
    text-align: center;
    margin: 1rem 0;
}

.section-buy-products .cards picture h3{
    position: relative;
    right: 2.5rem;
    font-size: 1.3rem; 
} 

.section-buy-products .container-avaliables{
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0;
}

.container-avaliables i,.container-avaliables .icon-star-rate{
    font-size: 1.2rem;
    color: var(--cor-avaliações-stars);
}

.voltar-topo{
    font-size: 1rem;
    padding: 0.7rem;
    clip-path: circle();
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border: none;
    cursor: pointer;
    transform: translateY(150%);
    transition: 0.5s;
    color: #fff;
    background: linear-gradient(to right, #db2886, #af3fb4);
}

.voltar-topo.show{
    transform: translateY(0);
}

.container-social-medias{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.container-social-medias a{
    text-decoration: none;
}

.container-social-medias div{
    font-size: 1.5rem;
    color: #000;
    margin-right: 2rem;
}


@media (max-width: 767px){
    nav ul{
        position: relative;
        top: 4.75rem;
        left: 18rem;
        overflow: hidden;
        transition: all 0.8s ease-in-out;
    }
    
    nav ul li{
        display: none;
        margin-top: 1rem;
    }

    .icon-menu{
        display: block;
        cursor: pointer;
    }

    .container-img-controller{
        margin-bottom: 5rem;
    }

    .container-text-controller h1{
        font-size: 1.8rem;
    }

    .container-text-controller h3{
        font-size: 1.45rem;
    }

    .section-controller{
        flex-direction: column-reverse;
    }

    .fundo-controller{
        transform: translateX(6rem);
    }
}