@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

:root{
    /* Paleta de cores */
    --cor-primaria: #db2886;
    --cor-secundaria: #707070;
    --cor-terciaria: #b7b7b7;
}

html{
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: -3px 2px 5px lightgrey;
}

header img{
    width: 5rem;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    margin-right: 1rem;
    color: #000;
}

li a::after{
    content: '';
    width: 0;
    position: absolute;
    left: 0;
    top: 1.5rem;
    border-bottom: 2px solid var(--cor-primaria);
    transition: width 0.4s;
}

li a:hover::after{
    width: 100%;
}

li a:hover{
    color: var(--cor-primaria);
}

.icon-menu{
    display: none;
    font-size: 2rem;
    color: var(--cor-primaria);
}

main{
    margin-top: 5rem;
}

.section-controller{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-text-controller{
    margin-left: 2rem;
}

.container-text-controller::before{
    content: "";
    background: linear-gradient(to right, #db2886, #af3fb4);
    width: 0.625rem;
    height: 20%;
    position: absolute;
    left: 0.6rem;
}

.container-text-controller h1{
    font-size: 2rem;
}

.container-text-controller h3{
    font-size: 1.875rem;
    color: var(--cor-secundaria);
    font-weight: 100;
    margin: 1.25rem 0;
}

.container-text-controller p{
    font-size: 1rem;
    color: var(--cor-terciaria);
    font-weight: 100;
}

.container-text-controller h4{
    margin: 1rem 0;
}

.container-text-controller button{
    width: 10rem;
    padding: 0.75rem 0.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    background: linear-gradient(to right, #db2886, #af3fb4);
    transition: all 0.5s ease-in-out;
}

.container-text-controller button:hover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11rem;
    opacity: 0.9;
}

.container-text-controller button img{
    display: none;
    width: 2.3rem;
}

.container-text-controller button:hover img{
    display: block;
}

.container-img-controller{
    position: relative;
    margin-right: 2rem;
}

.container-img-controller img{
    width: 25rem;
    animation: moveController 2s infinite alternate ease-in-out;
}

@keyframes moveController{
    from{
        transform: translate(-5%, -5%) rotate(-5deg);
    }

    to{
        transform: translate(0, 5px);
    }
}

.fundo-controller{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: linear-gradient(to right, #db2886, #af3fb4);
    border-radius: 1rem 0 0 1rem;
    z-index: -1;
    transform: translateX(2rem);
}

/* Botão de adicionar ao carrinho */
.container-img-controller button{
    border: none;
    background-color: transparent;
}

.container-img-controller button img {
    position: absolute;
    top: 7rem;
    right: -1.7rem;
    width: 2rem;
    cursor: pointer;
    z-index: 2;
}

.section-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.items-produtos{
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.items-produtos img{
    width: 10rem;
}

.container-social-medias{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.container-social-medias a{
    text-decoration: none;
}

.container-social-medias div{
    font-size: 1.5rem;
    color: #000;
    margin-right: 2rem;
}


@media (max-width: 767px){
    nav ul{
        position: relative;
        top: 4.75rem;
        left: 18rem;
        overflow: hidden;
        transition: all 0.8s ease-in-out;
    }
    
    nav ul li{
        display: none;
        margin-top: 1rem;
    }

    .icon-menu{
        display: block;
        cursor: pointer;
    }

    .container-img-controller{
        margin-bottom: 5rem;
    }

    .container-text-controller h1{
        font-size: 1.8rem;
    }

    .container-text-controller h3{
        font-size: 1.45rem;
    }

    .section-controller{
        flex-direction: column-reverse;
    }

    .fundo-controller{
        transform: translateX(6rem);
    }
}